name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: rakeshgang163
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push frontend image
        run: |
          docker build -t rakeshgang163/dd-mean-frontend:latest ./frontend
          docker push rakeshgang163/dd-mean-frontend:latest

      - name: Build and push backend image
        run: |
          docker build -t rakeshgang163/dd-mean-backend:latest ./backend
          docker push rakeshgang163/dd-mean-backend:latest

      - name: SSH and deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu
            docker compose down --remove-orphans
            docker rm -f $(docker ps -aq) || true
            docker compose pull
            docker compose up -d
